@import "mixins.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: #222222;
  letter-spacing: 1px;
}

p,
ul,
li,
a {
  font-size: 16px;
  color: #222222;
}

// Global Styles

.btn {
  border-radius: 30px;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 16px;
}

.btn-light {
  background-color: white;
  color: #222222;
}

.btn-dark {
  background-color: #222222f0;
  color: white;
  transition: 0.5s ease-in-out;
}

.gray-wrapper {
  background-image: url("../images/bg/checkered-light-emboss.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.spacer {
  padding: 50px 15px;
  @include breakpoint("desktop") {
    padding: 70px 0;
  }
}

// Navigation

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 5px 0px;

  .navbar-brand {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .nav-item {
    margin-right: 10px;

    a {
      font-size: 14px;
      font-family: 'Karla', sans-serif;
      letter-spacing: 2px;
      font-size: 17px;
    }
  }
}

// Homepage

.hero-container {

  >.row {
    @include breakpoint("mobile") {
      display: flex;
      align-items: center;
      padding-top: 50px;
      flex-direction: column-reverse;
    }
  }
  

  @include breakpoint("desktop") {
    flex-direction: row;
  }

  .hero-image {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;

      @include breakpoint("desktop") {
        height: 100%;
      }

      @include breakpoint("desktop-large") {
        height: 75vh;
      }
    }
    @include breakpoint("mobile") {
      margin-top: 50px;
    }
  }

  .hero-text-cont {
    @include breakpoint ("desktop") {
      display: flex;
      align-items: center;
    }
  }

  .hero-text {
    width: auto;
    text-align: center;
    @include breakpoint("desktop") {
      padding-bottom: 30px;
      text-align: left;
    }
    h1 {
      font-size: 50px;
      margin-bottom: 0;

      @include breakpoint("medium-device") {
        font-size: 85px;
      }

      @include breakpoint("desktop") {
        font-size: 75px;
      }

      @media only screen and (min-width: 1920px) {
        font-size: 120px;
      }
    }
    p {
      font-size: 30px;
      @media only screen and (min-width: 1920px) {
        font-size: 40px;
      }
    }
    .btn-light {
      margin-right: 30px;
    }
  }
}

// ministry
.ministry-wrapper {
  background-image: url("../images/bg/checkered-light-emboss.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.ministry {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  @include breakpoint("desktop") {
    text-align: left;
  }
  p {
    margin-bottom: 50px;
  }
  img {
    width: 100%;
    height: 100%;
    /* Add transition for smooth animation */
    transition: transform 0.3s ease-in-out;

    &:hover {
      /* Apply zoom effect on hover */
      transform: scale(1.2);
    }
  }
  .img-featured-cont {
    padding: 0 15px;

    &.below img {
      height: 270px;
      object-fit: cover;
    }
  }
}

// banner

.cta-wrapper {
  background-image: url("../images/nature.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  h2,
  p {
    text-align: center;
    color: white;
  }

  h2 {
    font-size: 45px;
  }

  p {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    @include breakpoint("desktop") {
      width: 800px;
    }
  }

  .cta-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    a {
      text-align: center;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: #222222;
        border: 1px solid transparent;
      }
    }

  }

  

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

// About

.about {
  height: 100vh;
  img {
    width: 100%;
    height: 500px;
    object-fit: contain;

    @include breakpoint("desktop") {
      height: 500px;
    }
  }

  .header {
    justify-content: center;
    margin-top: 50px;
    @include breakpoint("desktop") {
      margin-top: -123px;
    }

    h1 {
      @include breakpoint("desktop") {
        margin-bottom: 0;
      }
    }
  }

  .header,
  .content {
    display: flex;
    align-items: center;
    text-align: center;
    @include breakpoint("desktop") {
      text-align: left;
    }
  }
}

// Contact

.contact {
  height: 100vh;
  @include breakpoint("mobile") {
    flex-direction: column-reverse;
  }
  .contact-container {
    text-align: center;
    margin-bottom: 40px;
    @include breakpoint("desktop") {
      padding-right: 70px;
      margin-bottom: 0;
      text-align: left;
    }
    .phone {
      margin-bottom: 10px;
    }
    .fa-phone,
    .fa-envelope {
      font-size: 18px;
      color: #222222;
    }

    .contact-info {
      margin-left: 10px;
      font-size: 16px;
    }
  }
  .social-media {
    margin-top: 20px;

    a {
      display: inline-block;
      padding: 0 3px;

      &:first-child {
        padding-left: 0;
      }
    }

    i {
      font-size: 30px;

      &.fa-facebook {
        color: #1877f2;
      }

      &.fa-twitter {
        color: #1da1f2;
      }

      &.fa-instagram {
        color: #e4405f;
      }
    }
  }
  h3 {
    font-size: 20px;
  }

  img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
}

// Footer

footer {
  background-color: #222222;
  width: 100%;
  padding: 10px 0;
  p {
    color: white;
    margin-bottom: 0;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
  }
}
